/*Global*/

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    color: #2c2c54;
}

/*Section*/

section {
    width: 100vw;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
}


h1 {
    letter-spacing: 1.7rem;
    font-weight: lighter;
    margin: 40px 0;
    width: 50%;
}

p {
    letter-spacing: 0.2rem;
    text-transform: lowercase;
    padding: 0 25%;
}

h1:hover {
    color: pink;
}